<p id="notice"><%= notice %></p>

<p>
  <strong>Suggester:</strong>
  <%= @suggestion.suggester_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @suggestion.vote_count %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
